*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./images/pattern-background-desktop.png');
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

.outer-div{
    margin: auto;
    margin-top: 45px;
    background-color: white;
    height: 480px;
    width: 290px;
    border-radius: 15px;
}

.img-div{
    background-color: aquamarine;
    height: 150px;
    width: 290px;
    background-image: url('./images/illustration-hero.png');
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.heading{
    text-align: center;
    font-size: 13px;
    padding-top: 25px;
}

.description{
    text-align: center;
    font-size: 11px;
    color: hsl(224, 23%, 55%);
    padding: 20px 25px 20px 25px;
}

.music-outer-div{
    background-color: hsl(225, 100%, 98%);
    height: 70px;
    width: 240px;
    border-radius: 15px;
    margin: auto;
}